.mainContainer {
  width: 100%;
  padding: 4rem;
}
.cardHolder {
  display: flex;
  flex-wrap: wrap;
  gap: 6rem;
  padding: 4rem 0;
  justify-content: center;
}

@media (max-width: 550px) {
  .mainContainer {
    padding: 2rem;
  }
  .cardHolder {
    gap: 3rem;
  }
}
